.input-group-text {
    background-color: #d9d9d9 !important;
    border: 0px;
    border-radius: 5px 0px 0px 0px !important;
}

.input-group-text svg {
    width: 24px;
    height: auto
}

input {
    border-radius: 0px 5px 0px 0px !important;
}

.search-style {
    font-family: "Open Sans", sans-serif;
    font-variant: normal;
}