.desktop-footer {
  position: relative;
  margin-top: clamp(2rem, 5vw, 15rem);
  background-color: #252525;
  display: block;
  padding: 1%;
}

.desktop-footer li:first-of-type {
  margin: 0;
  width: 100%;
  line-height: 1.1;
  color: #fff;
  font-family: "Trajan", serif;
  font-variant: normal;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  font-style: normal;
  font-weight: 300;
  padding: 0.2em;
}

.desktop-footer li {
  margin: 0;
  width: 100%;
  line-height: 1.1;
  color: #fff;
  font-family: "Trajan", serif;
  font-variant: small-caps;
  font-size: clamp(0.6rem, 2vw, 1rem);
  font-style: normal;
  font-weight: 200;
  padding: 0.2em;
}

a {
  color: inherit;
}

a img {
  padding: 0 clamp(0.2rem, 1vw, 0.4rem) clamp(0.2rem, 1vw, 0.4rem);
  max-height: clamp(1.8rem, 3vw, 2.5rem);
  max-width: clamp(1.8rem, 3vw, 2.5rem);
  width: auto;
  height: auto;
}

a.disabled {
  color: darkgray;
}

hr.nav-line {
  border: 1px solid;
  margin: 0.4em 0;
  max-width: 20vw;
  color: inherit;
  opacity: 1;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-img {
  min-height: 5rem;
  max-height: 10rem;
  min-width: 5rem;
  max-width: 10rem;
}

.money {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.donate-container {
  display: inline-flex; /* Keep its contents on the same line */
  align-items: center; /* Vertically center the contents */
}

.donate-text {
  color: white;
  line-height: 1.1;
  color: #fff;
  font-family: "Trajan", serif;
  font-variant: small-caps;
  font-size: clamp(0.6rem, 2vw, 1rem);
}

@media only screen and (max-width: 1000px) {
  .col {
    padding-top: 2%;
  }
}

@media only screen and (max-width: 500px) {
  .col {
    padding-top: 5%;
  }
}