<div class="parent">
    <div class="parent-flex">
        <div class="text-div1 responsive-text-ellipsis">Kavern Kombat III</div>
        <a class="bracket" href="https://battlefy.com/embeds/65171a6338f1fb08fad372a0/stage/65171ad2a4a80360e5112a29?showFullscreen=true" target="_blank">
            <div class="text-div4 responsive-text-ellipsis">Bracket</div>
            <ng-icon class="icon" name="bootstrapBoxArrowUpRight"></ng-icon>
        </a>
    </div>
    <div class="parent-flex">
        <div class="text-div2 responsive-text-ellipsis">Under 1600s Tournament</div>
        <a class="youtube" href="https://www.youtube.com/watch?v=x2TNZC7CQEs&list=PLCkf1h219cIUIVLdVabS-VXPJHeMwgPRE" target="_blank">
            <div class="text-div5 responsive-text-ellipsis">Youtube playlist</div>
            <ng-icon class="icon" name="bootstrapBoxArrowUpRight"></ng-icon>
        </a>
    </div>
    <div class="text-div3 responsive-text-ellipsis">Registrations closed!</div>
</div>