<div class="info-banner rounded-border-golden">
    <div class="free-civ-div">
        <div class="free-civ-text responsive-text">Free Civ Pool</div>
        <div class="current-rotation free-civ-text responsive-text">Current rotation</div>
    </div>
    <div class="flag-div">
        <img class="civ-flag" src="assets/Data/wpfg/resources/images/icons/flags/flag_hc_aztec.png" />
        <img class="civ-flag " src="assets/Data/wpfg/resources/images/icons/flags/flag_hc_spanish.png" />
        <img class="civ-flag" src="assets/Data/wpfg/resources/images/icons/flags/flag_hc_portuguese.png" />
    </div>
</div>